
.main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: black;
    padding: 18px 0px;
    z-index: 2;
    position: fixed;
    margin: 0px;  
  }

.main-logo {
    width: min(calc(120px + 5vw),180px);
    padding-left: 28px; 
}

@media screen and (max-width: 767px){
  .main-logo {
    width: calc(80px + 7vw);
    padding-left: 0px; 
    padding: 1rem 0;
  }
  .main-banner {
    justify-content: center;
    flex-direction: column;
    padding: 2rem 0;
  }
}
