
.barchart-activity {
    background-color: #FBFBFB;
    padding: 0 0 0 10px;
}

.barchart-activity-title {
    position: absolute;
    top: 25px;
    left: 30px;
    color: #20253A;
}

.barchart-activity .recharts-legend-item {
    margin-right: 30px !important;
}

.barchart-activity .recharts-legend-item-text {
    color: #74798C !important;
}

@media screen and (max-width: 767px){
    .barchart-activity {
        font-size: 3em;
    }

    .barchart-activity .recharts-legend-item {
        display: flex;
        margin-right: 5px !important;
    }

  }