
main {
    position: relative;
    top: 85px;
    left: 117px;
    width: calc(100% - 117px);   
}

.home-content {
    padding: 5vh 4vw 0;
    display:flex;
    flex-wrap: wrap;
}

.home-charts {
    display:flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-wrap: wrap;
    width:70%;
    max-height: 700px;
}

.home-keydatas {
    width: 30%;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    max-height: 600px;
 }

.chart {
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 10px;
}

.chart-small {
    width: 30%;
    height: 0;
    padding-bottom: 30%;
}

.chart-large {
    width: 100%;
    height: 55%;
}

.chart-error-text {
    text-align: center;
    vertical-align: middle;
    position:absolute;
    width: 70%;
    top:40%;
    font-size: 1.2em;
}

@media screen and (max-width: 767px){
    main {
        position: relative;
        top: 85px;
        left: 0px;        
        width: 100%;  
        padding-bottom: 8em; 
    }  

    .home-charts {
        display:flex;
        justify-content: center;
        align-items:flex-start;
        flex-wrap: wrap;
        width:100%;
        max-height: inherit;
    }
    
    .home-keydatas {
        width: 95%;
        height: inherit;
        display: flex;
        flex-wrap: wrap;
        justify-items: flex-start;
        padding: 1em;

     }

     .chart {
        font-size: 3em;
    }

    .chart-small {
        width: 80%;
        height: inherit;
        padding-bottom: 2em;
        padding: 1em;
    }

    .chart-large {
        width: 100%;
        height: 20%;
    }
  }