.main-nav {
    min-width: 70%;
    padding: 0 28px 0 10px;
}

.main-nav nav ul  {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    padding: 0 0.5em;
}  
.main-nav li a {
    text-decoration: none;
    color: white;
    padding: 4px 12px;
    transition: all 200ms ease-in-out;
}   

.main-nav li {
    margin: 0 20px;
    font-size: 1.5em;
    transform: scale(1);
    transition: all 200ms ease-in-out;
    padding: 8px 0;
    height: 28px;
}   

.main-nav-link:hover:not(.active) {
    color: white;
    text-shadow: 2px 2px 4px #FF0101;
    opacity: 0.8;
}

.main-nav-link.active {
    text-shadow: 2px 2px 4px #FF0101;
    opacity: 1;
}

.main-nav-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #FF0101;
    box-shadow:
    0px 1px 2px 0px #fff;
    transition: all 0.5s;
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
  }

  .main-nav-link:hover::after, .main-nav-link.active::after {
    transform: scaleX(1);
    transform-origin: left;
  }
  .main-nav-link:hover::after {
    opacity: 0.8;
  }
  .main-nav-link.active::after  {
    opacity: 1;
    box-shadow: none
}

@media screen and (max-width: 767px){
    .main-nav li  {
        margin: 0 10px;
        font-size: 1em;
    } 
}

@media screen and (max-width: 300px){
    .main-nav li  {
        font-size: .6em;
    } 
}
