.sidebar {
    position: fixed;
    background-color: black;
    height:100%;
    width: 117px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sidebar span {
    display: block;
    color: white;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    bottom: 40px;
    font-size: .75em;
    white-space: pre-wrap;
    margin:40px 0px;
}

@media screen and (max-width: 767px){
    .sidebar{
      display: none;
      width: 0;
    }
  }