
.sidenav {
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width:100%;
    margin-top:150px;
}


.sidenav-button {
    border-radius: 6px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: #FFFFFF;
    width: 64px;
    height: 64px;
    margin: 10px;
    transform: rotateY(0deg);
    transition: all 400ms ease-in-out;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.sidenav-button:hover {
  background-color: #FF0101;
  box-shadow:
    0 0 6px 2px #fff,
    0 0 6px 4px #FF0101
  }

.sidenav-button:active{
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.sidenav-button:hover img {
    transition: all 300ms ease-in-out;
} 

.sidenav-button:hover img {
    filter: brightness(0) invert(1);
    transform: rotateZ(360deg);
} 

@media screen and (max-width: 600px){
    .sidenav{
      display: none;
      width: 0;
    }
    .sidenav-button {
        display:none;
    }
  }
  