
@font-face {
  font-family: "roboto-medium";
  src: url("./fonts/Roboto/Roboto-Medium.ttf") format("truetype");
 }

 @font-face {
  font-family: "roboto-regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf") format("truetype");
 }

body {
  margin: 0;
  font-family: roboto-medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: min(1em, 20px, 2vh, 2vw);
}

p {
  font-family: roboto-regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

strong {
  color: #FF0101;
  font-weight: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
